# docker/docker-compose.yml
name: SIIAP
services:
  web:
    #reinicia el contenedor si se detiene
    restart: always
    build:
      context: ..
      dockerfile: docker/Dockerfile
    # ya no publica directamente el 5000 a host, lo deja interno
    expose:
      - "5000"
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ../instance:/app/instance
      - ../:/app
  db:
    ## reinicia el contenedor si se detiene
    restart: always
    build:
      context: ..
      dockerfile: docker/Dockerfile.db
    environment:
      - TZ=America/Ciudad_Juarez
    volumes:
      - pgdata:/var/lib/postgresql/data

  nginx:
    # reinicia el contenedor si se detiene
    restart: always
    image: nginx:stable-alpine
    ports:
      - "80:80"                   # expone el puerto HTTP
    depends_on:
      - web
    environment:
      - TZ=America/Ciudad_Juarez
    volumes:
      - ../app/static:/usr/share/nginx/html/static:ro
      - ./nginx.dev.conf:/etc/nginx/nginx.conf:ro

volumes:
  pgdata:
