/* Estilos específicos para la página 404 */


.error-container {
    min-height: auto;
    /* Ajusta este valor según la altura real del header y footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.error-code {
    font-size: 8rem;
    font-weight: bold;
    color: var(--color-neutral-700);
    line-height: 1;
}

#main-content {
    margin-left: 0;
}

.error-message {
    font-size: 1.5rem;
    color: var(--text-muted);
    margin-top: 20px;
}