{# app/templates/programs/_floating_buttons.html #}
<div class="floating-back-button">
  <a href="{{ url_for('program.list_programs') }}" class="btn btn-outline-primary btn-back">
    <i class="fas fa-arrow-left me-2"></i>Regresar
  </a>
</div>


 <!-- Botón flotante para inscripción -->
<div class="floating-inscription-button">
  <button
      type="button"
      class="btn btn-primary btn-inscription"
      data-bs-toggle="modal"
      data-bs-target="#enrollmentModal">
    <i class="fas fa-graduation-cap me-2"></i>Inscribirme
  </button>
</div>